.container {
    margin: 0 auto;
    
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.col {
    flex: 1 1 calc(20% - 20px); 
    margin: 10px;
    box-sizing: border-box; 
}

.card {
    border-radius: 20px;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top {
    border-radius: 15px;
    width: 100%;
    height: auto; 
}

.card-body {
    text-align: center;
}

.card-title {
    margin-bottom: 15px;
    font-size: 1.25rem; 
}

.btn-primary {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 0.875rem; 
}

.fds {
    background-color: white;
    border: none;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 1024px) {
    .col {
        flex: 1 1 calc(20% - 10px);
    }
    element.style {
        width: 10rem;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .col {
        flex: 1 1 calc(45% - 10px);
    }
    element.style {
        width: 10rem;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .col {
        flex: 1 1 calc(50% - 10px); /* Dois containers lado a lado */
    }
    
}

@media only screen and (max-width: 576px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; /* Ajuste para 100% */
    }
    .col-sm-12.col-md-6.col-lg-4.mb-4 {
        width: 50%; /* Cada coluna ocupará metade da largura */
    }
}

a.btn.btn-primary {
    background-color: white;
    border-color: white;
    padding: 0px;
}

.card-title {
    color: rgb(121, 121, 121);
}
.card {
    border-radius: 20px;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.navbar-nav .nav-link {
    color: #2e9fea !important;
    /* Cor personalizada para os links */
    border: 1px solid #d3d3d3;
    /* Borda cinza claro */
    border-radius: 4px;
    /* Borda arredondada */
    padding: 8px 12px;
    /* Espaçamento interno */
    margin: 2px;
    /* Espaçamento entre os links */
    transition: background-color 0.3s, border-color 0.3s;
    /* Transição suave para o hover */
}

.navbar-nav .nav-link:hover {
    background-color: #e9f5fc;
    /* Cor de fundo ao passar o mouse */
    border-color: #2e9fea;
    /* Cor da borda ao passar o mouse */
    color: #2e9fea !important;
    /* Cor do texto ao passar o mouse */
}

.navbar-brand img {
    max-height: 50px;
    /* Ajuste a altura da imagem do logotipo */
}

.navbar {
    text-align: center;
    /* Centraliza o texto no header */
}

.navbar-collapse {
    justify-content: center;
    /* Centraliza o conteúdo da barra de navegação */
}
.container {
background-color: #fff;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
text-align: center;
/* Ajuste a posição do container */

}
@media (max-width: 576px) {
    .col-6 {
        flex: 0 0 50%; /* Força duas colunas em dispositivos móveis */
        max-width: 50%; /* Limita a largura máxima */
    }
}
